@font-face{
    font-family: HN400;
    src: url(../fonts/HelveticaNeueCyr-Roman.woff2);
}

@font-face{
    font-family: L400;
    src: url(../fonts/Lato-Regular.woff2);
}

@font-face{
    font-family: A400;
    src: url(../fonts/ArialMT.woff2);
}

@font-face{
    font-family: HN700;
    src: url(../fonts/HelveticaNeueCyr-Bold.woff2)
}

@font-face{
    font-family: L700;
    src: url(../fonts/Lato-Bold.woff2);
}

@font-face{
    font-family: A700;
    src: url(../fonts/ArialNarrow-Bold.woff2);
}