@font-face {
  font-family: HN400;
  src: url(../fonts/HelveticaNeueCyr-Roman.woff2);
}

@font-face {
  font-family: L400;
  src: url(../fonts/Lato-Regular.woff2);
}

@font-face {
  font-family: A400;
  src: url(../fonts/ArialMT.woff2);
}

@font-face {
  font-family: HN700;
  src: url(../fonts/HelveticaNeueCyr-Bold.woff2);
}

@font-face {
  font-family: L700;
  src: url(../fonts/Lato-Bold.woff2);
}

@font-face {
  font-family: A700;
  src: url(../fonts/ArialNarrow-Bold.woff2);
}

body {
  line-height: normal;
}

.container {
  width: 84.5833%;
  margin: 0 auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  position: relative;
}

.main-form {
  width: 647px;
}

.main-form-fields {
  width: 100%;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 20px 0;
}

.main-form-fields .left-text {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-fields .right {
  min-height: 126px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-form-fields .right .row1 label,
.main-form-fields .right .row2 label,
.main-form-fields .right .row3 label {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  margin: 0 0 0 10px;
}

.main-form-fields .right .row1 a,
.main-form-fields .right .row2 a,
.main-form-fields .right .row3 a {
  display: block;
  margin: 0 0 0 30px;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  color: #0055D2;
  text-decoration: none;
}

.main-form-profile {
  border: none;
  width: 100%;
  margin: 0 0 80px 0;
}

.main-form-profile .row2,
.main-form-profile .row3,
.main-form-profile .row4,
.main-form-profile .row5,
.main-form-profile .row7,
.main-form-profile .row8,
.main-form-profile .row10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-profile .row1,
.main-form-profile .row5,
.main-form-profile .row6,
.main-form-profile .row9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-form-profile .row1,
.main-form-profile .row2,
.main-form-profile .row3,
.main-form-profile .row5,
.main-form-profile .row6,
.main-form-profile .row7,
.main-form-profile .row8,
.main-form-profile .row9 {
  margin: 0 0 20px 0;
}

.main-form-profile .row4 {
  margin: 0 0 30px 0;
}

.main-form-profile .row4 .right input[type="text"] {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-profile .row4 .left-text::after,
.main-form-profile .row10 .left-text::after {
  display: none;
}

.main-form-profile .row5 .right {
  width: 406px;
}

.main-form-profile .row5 .right #day,
.main-form-profile .row5 .right #month {
  margin: 0 10px 0 0;
}

.main-form-profile .row6 .right .male,
.main-form-profile .row6 .right .female {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-profile .row6 .right .male input[name="sex"],
.main-form-profile .row6 .right .female input[name="sex"] {
  margin: 0 5px 0 0;
}

.main-form-profile .row6 .right .male label,
.main-form-profile .row6 .right .female label {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-profile .row6 .right .male label:hover,
.main-form-profile .row6 .right .female label:hover {
  cursor: pointer;
}

.main-form-profile .row6 .right .male {
  margin: 0 0 10px 0;
}

.main-form-profile .row9 .right #tel {
  margin: 0 0 10px 0;
}

.main-form-profile .row9 .right .add-comment,
.main-form-profile .row9 .right .add-tel,
.main-form-profile .row9 .right .add-comment-2,
.main-form-profile .row9 .right .add-tel-2 {
  margin: 0 0 10px 0;
}

.main-form-profile .row9 .right .add-comment input[type="checkbox"],
.main-form-profile .row9 .right .add-tel input[type="checkbox"],
.main-form-profile .row9 .right .add-comment-2 input[type="checkbox"],
.main-form-profile .row9 .right .add-tel-2 input[type="checkbox"] {
  display: none;
}

.main-form-profile .row9 .right .add-comment #add-comm:checked ~ textarea,
.main-form-profile .row9 .right .add-tel #add-comm:checked ~ textarea,
.main-form-profile .row9 .right .add-comment-2 #add-comm:checked ~ textarea,
.main-form-profile .row9 .right .add-tel-2 #add-comm:checked ~ textarea {
  display: block;
}

.main-form-profile .row9 .right .add-comment #add-comm:checked ~ label,
.main-form-profile .row9 .right .add-tel #add-comm:checked ~ label,
.main-form-profile .row9 .right .add-comment-2 #add-comm:checked ~ label,
.main-form-profile .row9 .right .add-tel-2 #add-comm:checked ~ label {
  display: none;
}

.main-form-profile .row9 .right .add-comment #add-comm-2:checked ~ textarea,
.main-form-profile .row9 .right .add-tel #add-comm-2:checked ~ textarea,
.main-form-profile .row9 .right .add-comment-2 #add-comm-2:checked ~ textarea,
.main-form-profile .row9 .right .add-tel-2 #add-comm-2:checked ~ textarea {
  display: block;
}

.main-form-profile .row9 .right .add-comment #add-comm-2:checked ~ label,
.main-form-profile .row9 .right .add-tel #add-comm-2:checked ~ label,
.main-form-profile .row9 .right .add-comment-2 #add-comm-2:checked ~ label,
.main-form-profile .row9 .right .add-tel-2 #add-comm-2:checked ~ label {
  display: none;
}

.main-form-profile .row9 .right .add-comment #add-tel:checked ~ input[name="new-tel"],
.main-form-profile .row9 .right .add-tel #add-tel:checked ~ input[name="new-tel"],
.main-form-profile .row9 .right .add-comment-2 #add-tel:checked ~ input[name="new-tel"],
.main-form-profile .row9 .right .add-tel-2 #add-tel:checked ~ input[name="new-tel"] {
  display: block;
}

.main-form-profile .row9 .right .add-comment #add-tel:checked ~ label,
.main-form-profile .row9 .right .add-tel #add-tel:checked ~ label,
.main-form-profile .row9 .right .add-comment-2 #add-tel:checked ~ label,
.main-form-profile .row9 .right .add-tel-2 #add-tel:checked ~ label {
  display: none;
}

.main-form-profile .row9 .right .add-comment textarea,
.main-form-profile .row9 .right .add-comment input[name="new-tel"],
.main-form-profile .row9 .right .add-tel textarea,
.main-form-profile .row9 .right .add-tel input[name="new-tel"],
.main-form-profile .row9 .right .add-comment-2 textarea,
.main-form-profile .row9 .right .add-comment-2 input[name="new-tel"],
.main-form-profile .row9 .right .add-tel-2 textarea,
.main-form-profile .row9 .right .add-tel-2 input[name="new-tel"] {
  display: none;
}

.main-form-profile .row9 .right .add-comment label,
.main-form-profile .row9 .right .add-tel label,
.main-form-profile .row9 .right .add-comment-2 label,
.main-form-profile .row9 .right .add-tel-2 label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  color: #0055D2;
}

.main-form-profile .row9 .right .add-comment label:hover,
.main-form-profile .row9 .right .add-tel label:hover,
.main-form-profile .row9 .right .add-comment-2 label:hover,
.main-form-profile .row9 .right .add-tel-2 label:hover {
  cursor: pointer;
}

.main-form-profile .row9 .right .add-comment label::before,
.main-form-profile .row9 .right .add-tel label::before,
.main-form-profile .row9 .right .add-comment-2 label::before,
.main-form-profile .row9 .right .add-tel-2 label::before {
  content: url(../img/plus.svg);
  margin: 0 5px 0 0;
}

.main-form-profile .row10 .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-profile .row10 .right #passport {
  margin: 0 10px 0 0;
}

.main-form-profile .row10 .right .passport {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-profile-title {
  color: #212223;
  line-height: 1.28571em;
  font-size: 24px;
  font-family: L700, HN700, A700, sans-serif;
  padding: 0 0 24px 0;
}

.main-form-profile .left-text {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-profile .left-text::after {
  content: "*";
  color: #f07d00;
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
}

.main-form-profile .right {
  width: 406px;
}

.main-form-profile .right #second,
.main-form-profile .right #first,
.main-form-profile .right #third,
.main-form-profile .right #city,
.main-form-profile .right #email {
  width: 382px;
  padding: 9px 12px;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-profile .right .back {
  width: 240px;
  height: 240px;
  background-image: url(../img/profile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.main-form-profile .right .back input[type="file"] {
  display: none;
}

.main-form-profile .right .back label[for="file"] {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  color: #fff;
  background-color: #21222380;
  text-align: center;
  width: 100%;
  padding: 15px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}

.main-form-profile .right .back label[for="file"]:hover {
  cursor: pointer;
}

.main-form-job {
  border: none;
  margin: 0 0 80px 0;
}

.main-form-job-title {
  color: #212223;
  line-height: 1.28571em;
  font-size: 24px;
  font-family: L700, HN700, A700, sans-serif;
  padding: 0 0 24px 0;
}

.main-form-job .row1,
.main-form-job .row2,
.main-form-job .row4,
.main-form-job .row5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-job .row3,
.main-form-job .row6,
.main-form-job .row7,
.main-form-job .row8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-form-job .row1,
.main-form-job .row2,
.main-form-job .row4,
.main-form-job .row5,
.main-form-job .row6,
.main-form-job .row7 {
  margin: 0 0 20px 0;
}

.main-form-job .row2 .left-text::after,
.main-form-job .row3 .left-text::after,
.main-form-job .row6 .left-text::after,
.main-form-job .row7 .left-text::after,
.main-form-job .row8 .left-text::after {
  display: none;
}

.main-form-job .row3 .right .v1,
.main-form-job .row3 .right .v2,
.main-form-job .row3 .right .v3,
.main-form-job .row3 .right .v4,
.main-form-job .row3 .right .v5,
.main-form-job .row6 .right .v1,
.main-form-job .row6 .right .v2,
.main-form-job .row6 .right .v3,
.main-form-job .row6 .right .v4,
.main-form-job .row6 .right .v5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
}

.main-form-job .row3 .right .v1 input[type="radio"],
.main-form-job .row3 .right .v2 input[type="radio"],
.main-form-job .row3 .right .v3 input[type="radio"],
.main-form-job .row3 .right .v4 input[type="radio"],
.main-form-job .row3 .right .v5 input[type="radio"],
.main-form-job .row6 .right .v1 input[type="radio"],
.main-form-job .row6 .right .v2 input[type="radio"],
.main-form-job .row6 .right .v3 input[type="radio"],
.main-form-job .row6 .right .v4 input[type="radio"],
.main-form-job .row6 .right .v5 input[type="radio"] {
  margin: 0 5px 0 0;
}

.main-form-job .row3 .right .v1 label,
.main-form-job .row3 .right .v2 label,
.main-form-job .row3 .right .v3 label,
.main-form-job .row3 .right .v4 label,
.main-form-job .row3 .right .v5 label,
.main-form-job .row6 .right .v1 label,
.main-form-job .row6 .right .v2 label,
.main-form-job .row6 .right .v3 label,
.main-form-job .row6 .right .v4 label,
.main-form-job .row6 .right .v5 label {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-job .row3 .right .v1 label:hover,
.main-form-job .row3 .right .v2 label:hover,
.main-form-job .row3 .right .v3 label:hover,
.main-form-job .row3 .right .v4 label:hover,
.main-form-job .row3 .right .v5 label:hover,
.main-form-job .row6 .right .v1 label:hover,
.main-form-job .row6 .right .v2 label:hover,
.main-form-job .row6 .right .v3 label:hover,
.main-form-job .row6 .right .v4 label:hover,
.main-form-job .row6 .right .v5 label:hover {
  cursor: pointer;
}

.main-form-job .row7 .right {
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.main-form-job .row7 .right .v1,
.main-form-job .row7 .right .v2,
.main-form-job .row7 .right .v3,
.main-form-job .row7 .right .v4,
.main-form-job .row7 .right .v5 {
  margin: 0 0 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-job .row7 .right .v1 input[type="checkbox"],
.main-form-job .row7 .right .v2 input[type="checkbox"],
.main-form-job .row7 .right .v3 input[type="checkbox"],
.main-form-job .row7 .right .v4 input[type="checkbox"],
.main-form-job .row7 .right .v5 input[type="checkbox"] {
  margin: 0 5px 0 0;
}

.main-form-job .row7 .right .v1 label,
.main-form-job .row7 .right .v2 label,
.main-form-job .row7 .right .v3 label,
.main-form-job .row7 .right .v4 label,
.main-form-job .row7 .right .v5 label {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-job .row7 .right .v1 label:hover,
.main-form-job .row7 .right .v2 label:hover,
.main-form-job .row7 .right .v3 label:hover,
.main-form-job .row7 .right .v4 label:hover,
.main-form-job .row7 .right .v5 label:hover {
  cursor: pointer;
}

.main-form-job .row8 .right {
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.main-form-job .row8 .right .v1,
.main-form-job .row8 .right .v2,
.main-form-job .row8 .right .v3,
.main-form-job .row8 .right .v4 {
  margin: 0 0 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-job .row8 .right .v1 input[type="checkbox"],
.main-form-job .row8 .right .v2 input[type="checkbox"],
.main-form-job .row8 .right .v3 input[type="checkbox"],
.main-form-job .row8 .right .v4 input[type="checkbox"] {
  margin: 0 5px 0 0;
}

.main-form-job .row8 .right .v1 label,
.main-form-job .row8 .right .v2 label,
.main-form-job .row8 .right .v3 label,
.main-form-job .row8 .right .v4 label {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-job .row8 .right .v1 label:hover,
.main-form-job .row8 .right .v2 label:hover,
.main-form-job .row8 .right .v3 label:hover,
.main-form-job .row8 .right .v4 label:hover {
  cursor: pointer;
}

.main-form-job .left-text {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-job .left-text::after {
  content: "*";
  color: #f07d00;
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
}

.main-form-job .right {
  width: 406px;
}

.main-form-job .right #job {
  width: 382px;
  padding: 9px 12px;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-experience {
  margin: 0 0 80px 0;
  border: none;
}

.main-form-experience-title {
  color: #212223;
  line-height: 1.28571em;
  font-size: 24px;
  font-family: L700, HN700, A700, sans-serif;
  padding: 0 0 12px 0;
}

.main-form-experience label[for="on-off"] {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-experience label[for="on-off"]:hover {
  cursor: pointer;
}

.main-form-experience #on-off:checked ~ .form {
  display: none;
}

.main-form-experience .text {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  margin: 18px 0 0 0;
}

.main-form-experience .form {
  margin: 15px 0 0 0;
}

.main-form-experience .form .row1,
.main-form-experience .form .row2,
.main-form-experience .form .row3,
.main-form-experience .form .row5,
.main-form-experience .form .row6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-experience .form .row4,
.main-form-experience .form .row7,
.main-form-experience .form .row8,
.main-form-experience .form .row9,
.main-form-experience .form .row10 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-form-experience .form .row1,
.main-form-experience .form .row2,
.main-form-experience .form .row3,
.main-form-experience .form .row4,
.main-form-experience .form .row5,
.main-form-experience .form .row6,
.main-form-experience .form .row7,
.main-form-experience .form .row8,
.main-form-experience .form .row9 {
  margin: 0 0 20px 0;
}

.main-form-experience .form .row3 .left-text {
  width: 144px;
}

.main-form-experience .form .row3 .left-text::after,
.main-form-experience .form .row4 .left-text::after,
.main-form-experience .form .row5 .left-text::after,
.main-form-experience .form .row10 .left-text::after {
  display: none;
}

.main-form-experience .form .row4 .right .v1,
.main-form-experience .form .row4 .right .v2,
.main-form-experience .form .row4 .right .v3,
.main-form-experience .form .row4 .right .v4,
.main-form-experience .form .row4 .right .v5,
.main-form-experience .form .row9 .right .v1,
.main-form-experience .form .row9 .right .v2,
.main-form-experience .form .row9 .right .v3,
.main-form-experience .form .row9 .right .v4,
.main-form-experience .form .row9 .right .v5,
.main-form-experience .form .row10 .right .v1,
.main-form-experience .form .row10 .right .v2,
.main-form-experience .form .row10 .right .v3,
.main-form-experience .form .row10 .right .v4,
.main-form-experience .form .row10 .right .v5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 0;
}

.main-form-experience .form .row4 .right .v1 input[type="radio"],
.main-form-experience .form .row4 .right .v2 input[type="radio"],
.main-form-experience .form .row4 .right .v3 input[type="radio"],
.main-form-experience .form .row4 .right .v4 input[type="radio"],
.main-form-experience .form .row4 .right .v5 input[type="radio"],
.main-form-experience .form .row9 .right .v1 input[type="radio"],
.main-form-experience .form .row9 .right .v2 input[type="radio"],
.main-form-experience .form .row9 .right .v3 input[type="radio"],
.main-form-experience .form .row9 .right .v4 input[type="radio"],
.main-form-experience .form .row9 .right .v5 input[type="radio"],
.main-form-experience .form .row10 .right .v1 input[type="radio"],
.main-form-experience .form .row10 .right .v2 input[type="radio"],
.main-form-experience .form .row10 .right .v3 input[type="radio"],
.main-form-experience .form .row10 .right .v4 input[type="radio"],
.main-form-experience .form .row10 .right .v5 input[type="radio"] {
  margin: 0 5px 0 0;
}

.main-form-experience .form .row4 .right .v1 label,
.main-form-experience .form .row4 .right .v2 label,
.main-form-experience .form .row4 .right .v3 label,
.main-form-experience .form .row4 .right .v4 label,
.main-form-experience .form .row4 .right .v5 label,
.main-form-experience .form .row9 .right .v1 label,
.main-form-experience .form .row9 .right .v2 label,
.main-form-experience .form .row9 .right .v3 label,
.main-form-experience .form .row9 .right .v4 label,
.main-form-experience .form .row9 .right .v5 label,
.main-form-experience .form .row10 .right .v1 label,
.main-form-experience .form .row10 .right .v2 label,
.main-form-experience .form .row10 .right .v3 label,
.main-form-experience .form .row10 .right .v4 label,
.main-form-experience .form .row10 .right .v5 label {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-experience .form .row4 .right .v1 label:hover,
.main-form-experience .form .row4 .right .v2 label:hover,
.main-form-experience .form .row4 .right .v3 label:hover,
.main-form-experience .form .row4 .right .v4 label:hover,
.main-form-experience .form .row4 .right .v5 label:hover,
.main-form-experience .form .row9 .right .v1 label:hover,
.main-form-experience .form .row9 .right .v2 label:hover,
.main-form-experience .form .row9 .right .v3 label:hover,
.main-form-experience .form .row9 .right .v4 label:hover,
.main-form-experience .form .row9 .right .v5 label:hover,
.main-form-experience .form .row10 .right .v1 label:hover,
.main-form-experience .form .row10 .right .v2 label:hover,
.main-form-experience .form .row10 .right .v3 label:hover,
.main-form-experience .form .row10 .right .v4 label:hover,
.main-form-experience .form .row10 .right .v5 label:hover {
  cursor: pointer;
}

.main-form-experience .form .row4 .right textarea,
.main-form-experience .form .row9 .right textarea,
.main-form-experience .form .row10 .right textarea {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  width: 438px;
  height: 78px;
  padding: 10px 12px;
}

.main-form-experience .form label[for="working"] {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-experience .form label[for="working"]:hover {
  cursor: pointer;
}

.main-form-experience .form #working {
  margin: 0 0 20px 40%;
}

.main-form-experience .form #working:checked ~ .row8 {
  display: none;
}

.main-form-experience .form .left-text {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-experience .form .left-text::after {
  content: "*";
  color: #f07d00;
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
}

.main-form-experience .form .right {
  width: 406px;
}

.main-form-experience .form .right #company,
.main-form-experience .form .right #city,
.main-form-experience .form .right #sphere,
.main-form-experience .form .right #site,
.main-form-experience .form .right #job {
  width: 382px;
  padding: 9px 12px;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-qualification {
  border: none;
  margin: 0 0 40px 0;
}

.main-form-qualification .row1,
.main-form-qualification .row2,
.main-form-qualification .row3,
.main-form-qualification .row4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-qualification .row5,
.main-form-qualification .row6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-form-qualification .row2,
.main-form-qualification .row3,
.main-form-qualification .row4,
.main-form-qualification .row5,
.main-form-qualification .row6 {
  margin: 0 0 20px 0;
}

.main-form-qualification .row5 .right .v1,
.main-form-qualification .row5 .right .v2,
.main-form-qualification .row5 .right .v3,
.main-form-qualification .row5 .right .v4 {
  margin: 0 0 10px 0;
}

.main-form-qualification .row5 .right .v1 label,
.main-form-qualification .row5 .right .v2 label,
.main-form-qualification .row5 .right .v3 label,
.main-form-qualification .row5 .right .v4 label {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-qualification .row6 .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-form-qualification-title {
  color: #212223;
  line-height: 1.28571em;
  font-size: 24px;
  font-family: L700, HN700, A700, sans-serif;
  padding: 0 0 24px 0;
}

.main-form-qualification #add {
  display: none;
}

.main-form-qualification #add:checked ~ label[for="add"] {
  display: none;
}

.main-form-qualification #add:checked ~ .form-2 {
  display: block;
}

.main-form-qualification .form-2 {
  display: none;
}

.main-form-qualification .form-2 {
  margin: 40px 0 0 0;
}

.main-form-qualification .form-2 .row1 {
  margin: 0 0 20px 0;
}

.main-form-qualification .form-2 .row1 .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-form-qualification label[for="add"] {
  margin: 10px 0 0 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  color: #0055D2;
}

.main-form-qualification label[for="add"]:nth-child(2) {
  margin: 0;
}

.main-form-qualification label[for="add"]::before {
  content: url(../img/plus.svg);
  margin: 0 5px 0 0;
}

.main-form-qualification label[for="add"]:hover {
  cursor: pointer;
}

.main-form-qualification .delete::before {
  display: none;
}

.main-form-qualification .row4 .left-text::after,
.main-form-qualification .row5 .left-text::after {
  display: none;
}

.main-form-qualification .left-text {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-qualification .left-text::after {
  content: "*";
  color: #f07d00;
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
}

.main-form-qualification .right {
  width: 406px;
}

.main-form-qualification .right #level,
.main-form-qualification .right #school,
.main-form-qualification .right #spec {
  width: 382px;
  padding: 6px 12px;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-qualification .right #city {
  width: 191px;
  padding: 6px 12px;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-skills {
  border: none;
  margin: 0 0 40px 0;
}

.main-form-skills img {
  margin: 0 15px 0 0;
}

.main-form-skills .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-skills .title-text h2 {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.main-form-skills .title-text p {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  padding: 0;
  margin: 0;
}

.main-form-skills #skills {
  display: none;
}

.main-form-skills #skills:checked ~ label {
  display: none;
}

.main-form-skills .form-3 {
  display: none;
}

.main-form-skills #skills:checked ~ .form-3 {
  display: block;
}

.main-form-skills .row1 {
  margin: 20px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-skills .row1 .left-text {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-skills .row1 .right {
  width: 406px;
}

.main-form-skills .row1 .right #skill {
  width: 382px;
  padding: 6px 12px;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-skills label[for="skills"] {
  margin: 10px 0 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  color: #0055D2;
}

.main-form-skills label[for="skills"]::before {
  content: url(../img/plus.svg);
  margin: 0 5px 0 0;
}

.main-form-skills label[for="skills"]:hover {
  cursor: pointer;
}

.main-form-about {
  border: none;
  margin: 0 0 40px 0;
}

.main-form-about img {
  margin: 0 15px 0 0;
}

.main-form-about .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-about .title-text h2 {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.main-form-about .title-text p {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  padding: 0;
  margin: 0;
}

.main-form-about #about {
  display: none;
}

.main-form-about .form-4 {
  display: none;
}

.main-form-about #about:checked ~ .form-4 {
  display: block;
}

.main-form-about #about:checked ~ label {
  display: none;
}

.main-form-about label[for="about"] {
  margin: 10px 0 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  color: #0055D2;
}

.main-form-about label[for="about"]::before {
  content: url(../img/plus.svg);
  margin: 0 5px 0 0;
}

.main-form-about label[for="about"]:hover {
  cursor: pointer;
}

.main-form-about .form-4 {
  margin: 20px 0 40px 0;
}

.main-form-about .form-4 .row1,
.main-form-about .form-4 .row2 {
  margin: 0 0 20px 0;
}

.main-form-about .form-4 .row1,
.main-form-about .form-4 .row2,
.main-form-about .form-4 .row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-form-about .form-4 .row1 .left-text,
.main-form-about .form-4 .row2 .left-text,
.main-form-about .form-4 .row3 .left-text {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-about .form-4 .row1 .right,
.main-form-about .form-4 .row2 .right,
.main-form-about .form-4 .row3 .right {
  width: 406px;
}

.main-form-about .form-4 .row1 .right input[type="radio"],
.main-form-about .form-4 .row1 .right input[type="checkbox"],
.main-form-about .form-4 .row2 .right input[type="radio"],
.main-form-about .form-4 .row2 .right input[type="checkbox"],
.main-form-about .form-4 .row3 .right input[type="radio"],
.main-form-about .form-4 .row3 .right input[type="checkbox"] {
  margin: 0 5px 0 0;
}

.main-form-about .form-4 .row1 .right label,
.main-form-about .form-4 .row2 .right label,
.main-form-about .form-4 .row3 .right label {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-about .form-4 .row1 .right label:hover,
.main-form-about .form-4 .row2 .right label:hover,
.main-form-about .form-4 .row3 .right label:hover {
  cursor: pointer;
}

.main-form-about .form-4 .row1 .right #about-you,
.main-form-about .form-4 .row2 .right #about-you,
.main-form-about .form-4 .row3 .right #about-you {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  width: 382px;
  padding: 6px 12px;
}

.main-form-also {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main-form-also .title {
  width: 100%;
}

.main-form-also .title h2 {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 15px 0;
  padding: 0;
}

.main-form-also input[type="checkbox"] {
  display: none;
}

.main-form-also label {
  margin: 0 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  color: #0055D2;
}

.main-form-also label::before {
  content: url(../img/plus.svg);
  margin: 0 5px 0 0;
}

.main-form-also label:hover {
  cursor: pointer;
}

.main-form-also label:last-child {
  display: block;
}

.main-form-also .form-5 {
  display: none;
}

.main-form-also .form-6 {
  display: none;
}

.main-form-also .form-7 {
  display: none;
}

.main-form-also .form-8 {
  display: none;
}

.main-form-also #courses:checked ~ #courses-f {
  display: block;
  margin: 30px 0 0 0;
}

.main-form-also #courses:checked ~ label[for="courses"] {
  display: none;
}

.main-form-also .form-5 {
  width: 100%;
  padding: 0 0 20px 0;
}

.main-form-also .form-5 h2 {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 15px 0;
  padding: 0;
}

.main-form-also .form-5 .row1,
.main-form-also .form-5 .row2,
.main-form-also .form-5 .row3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-also .form-5 .row4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-form-also .form-5 .row1,
.main-form-also .form-5 .row2,
.main-form-also .form-5 .row3 {
  margin: 0 0 20px 0;
}

.main-form-also .form-5 .row2 .left-text::after,
.main-form-also .form-5 .row3 .left-text::after,
.main-form-also .form-5 .row4 .left-text::after {
  display: none;
}

.main-form-also .form-5 .left-text {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-also .form-5 .left-text::after {
  content: "*";
  color: #f07d00;
  display: inline-block;
  vertical-align: top;
  margin-left: 3px;
}

.main-form-also .form-5 .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 410px;
}

.main-form-also .form-5 .right #city,
.main-form-also .form-5 .right #org,
.main-form-also .form-5 .right #year {
  width: 382px;
  padding: 6px 12px;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-also .form-5 .right #course {
  width: 328px;
  padding: 6px 12px;
  margin: 0 10px 0 0;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-also .form-5 .right label::before {
  display: none;
}

.main-form-also #portfolio:checked ~ #portfolio-f {
  display: block;
  margin: 30px 0 0 0;
}

.main-form-also #portfolio:checked ~ label[for="portfolio"] {
  display: none;
}

.main-form-also .form-6 {
  margin: 20px 0 0 0;
}

.main-form-also .form-6 h2 {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 15px 0;
  padding: 0;
}

.main-form-also .form-6 #add-link {
  display: none;
}

.main-form-also .form-6 .block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 36px 0;
  border: 1px dashed #cccdce;
}

.main-form-also .form-6 .block-title {
  width: 100%;
  text-align: center;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  margin: 0 0 10px 0;
}

.main-form-also .form-6 .block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-form-also .form-6 .block-btn input[type="file"] {
  display: none;
}

.main-form-also .form-6 .block-btn label[for="add-file-2"],
.main-form-also .form-6 .block-btn label[for="add-link"] {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  padding: 6px 24px;
  border: 1px solid #cccdce;
}

.main-form-also .form-6 .block-btn label[for="add-file-2"]::before,
.main-form-also .form-6 .block-btn label[for="add-link"]::before {
  display: none;
}

.main-form-also .form-6 .form-link {
  display: none;
}

.main-form-also .form-6 #add-link:checked ~ .form-link {
  display: block;
}

.main-form-also .form-6 .form-link {
  margin: 20px 0 0 0;
}

.main-form-also .form-6 .form-link .row1 {
  margin: 0 0 20px 0;
}

.main-form-also .form-6 .form-link .row1,
.main-form-also .form-6 .form-link .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-also .form-6 .form-link .row1 .left-text,
.main-form-also .form-6 .form-link .row2 .left-text {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-also .form-6 .form-link .row1 .right,
.main-form-also .form-6 .form-link .row2 .right {
  width: 406px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-also .form-6 .form-link .row1 .right #descrip,
.main-form-also .form-6 .form-link .row2 .right #descrip {
  width: 382px;
  padding: 6px 12px;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-also .form-6 .form-link .row1 .right #link,
.main-form-also .form-6 .form-link .row2 .right #link {
  width: 363px;
  padding: 9px 12px;
  margin: 0 10px 0 0;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-also .form-6 .form-link .row1 .right label[for="add-link"]::before,
.main-form-also .form-6 .form-link .row2 .right label[for="add-link"]::before {
  display: none;
}

.main-form-also .form-6 .form-link .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main-form-also #car:checked ~ #car-f {
  display: block;
}

.main-form-also #car:checked ~ label[for="car"] {
  display: none;
}

.main-form-also .form-7 {
  margin: 40px 0 0 0;
  padding: 0 0 40px 0;
}

.main-form-also .form-7 h2 {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 15px 0;
  padding: 0;
}

.main-form-also .form-7 span {
  display: block;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-also .form-7 .category {
  margin: 10px 0 0 0;
}

.main-form-also .form-7 .category tr {
  margin: 0 0 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-also .form-7 .category tr td {
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-also .form-7 .category tr td input[type="checkbox"] {
  display: block;
  margin: 0 5px 0 0;
}

.main-form-also .form-7 .category tr td label {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-also .form-7 .category tr td label::before {
  display: none;
}

.main-form-also .form-7 .category tr:last-child {
  margin: 0;
}

.main-form-also .form-7 .your-car {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0 0 0;
}

.main-form-also .form-7 .your-car #your-car {
  display: block;
  margin: 0 5px 0 0;
}

.main-form-also .form-7 .your-car label[for="your-car"] {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-also .form-7 .your-car label[for="your-car"]::before {
  display: none;
}

.main-form-also #social:checked ~ #social-f {
  display: block;
}

.main-form-also #social:checked ~ label[for="social"] {
  display: none;
}

.main-form-also .form-8 {
  width: 100%;
  margin: 40px 0 0 0;
}

.main-form-also .form-8 h2 {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 15px 0;
  padding: 0;
}

.main-form-also .form-8 .row1,
.main-form-also .form-8 .row2,
.main-form-also .form-8 .row3,
.main-form-also .form-8 .row4,
.main-form-also .form-8 .row5 {
  margin: 0 0 20px 0;
}

.main-form-also .form-8 .row1,
.main-form-also .form-8 .row2,
.main-form-also .form-8 .row3,
.main-form-also .form-8 .row4,
.main-form-also .form-8 .row5,
.main-form-also .form-8 .row6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-also .form-8 .row1 .left-text,
.main-form-also .form-8 .row2 .left-text,
.main-form-also .form-8 .row3 .left-text,
.main-form-also .form-8 .row4 .left-text,
.main-form-also .form-8 .row5 .left-text,
.main-form-also .form-8 .row6 .left-text {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form-also .form-8 .row1 .right,
.main-form-also .form-8 .row2 .right,
.main-form-also .form-8 .row3 .right,
.main-form-also .form-8 .row4 .right,
.main-form-also .form-8 .row5 .right,
.main-form-also .form-8 .row6 .right {
  width: 406px;
}

.main-form-also .form-8 .row1 .right #vk,
.main-form-also .form-8 .row1 .right #fb,
.main-form-also .form-8 .row1 .right #in,
.main-form-also .form-8 .row1 .right #my-circle,
.main-form-also .form-8 .row1 .right #tw,
.main-form-also .form-8 .row1 .right #skype,
.main-form-also .form-8 .row2 .right #vk,
.main-form-also .form-8 .row2 .right #fb,
.main-form-also .form-8 .row2 .right #in,
.main-form-also .form-8 .row2 .right #my-circle,
.main-form-also .form-8 .row2 .right #tw,
.main-form-also .form-8 .row2 .right #skype,
.main-form-also .form-8 .row3 .right #vk,
.main-form-also .form-8 .row3 .right #fb,
.main-form-also .form-8 .row3 .right #in,
.main-form-also .form-8 .row3 .right #my-circle,
.main-form-also .form-8 .row3 .right #tw,
.main-form-also .form-8 .row3 .right #skype,
.main-form-also .form-8 .row4 .right #vk,
.main-form-also .form-8 .row4 .right #fb,
.main-form-also .form-8 .row4 .right #in,
.main-form-also .form-8 .row4 .right #my-circle,
.main-form-also .form-8 .row4 .right #tw,
.main-form-also .form-8 .row4 .right #skype,
.main-form-also .form-8 .row5 .right #vk,
.main-form-also .form-8 .row5 .right #fb,
.main-form-also .form-8 .row5 .right #in,
.main-form-also .form-8 .row5 .right #my-circle,
.main-form-also .form-8 .row5 .right #tw,
.main-form-also .form-8 .row5 .right #skype,
.main-form-also .form-8 .row6 .right #vk,
.main-form-also .form-8 .row6 .right #fb,
.main-form-also .form-8 .row6 .right #in,
.main-form-also .form-8 .row6 .right #my-circle,
.main-form-also .form-8 .row6 .right #tw,
.main-form-also .form-8 .row6 .right #skype {
  width: 382px;
  padding: 6px 12px;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main-form button[type="submit"] {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  background-color: #ffcd28;
  padding: 10px 24px;
  border: none;
  margin: 40px 0 0 0;
}

.main .right .job {
  width: 342px;
  position: absolute;
  top: 1280px;
  right: 0;
}

.main .right .job-title {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.main .right .job-text, .main .right .job span {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main .right .job .tick {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  color: #4D9934;
}

.main .right .job .cross {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  color: #CE2B27;
}

.main .right .experience {
  width: 342px;
  position: absolute;
  right: 0;
  top: 2000px;
}

.main .right .experience span {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.main .right .experience p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
  color: #4D9934;
}

.main .right .experience ul {
  list-style-type: none;
  margin: 0 0 30px 0;
  padding: 0;
}

.main .right .experience ul li {
  color: #212223;
  line-height: normal;
  font-size: 15px;
  font-family: L400, HN400, A400, sans-serif;
}

.main .right .experience ul li::before {
  content: '-';
  margin: 0 2px 0 0;
}

.main .right .experience ul:last-child {
  margin: 0;
}
